*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    font-size:12px;

}
body{
    background:hsl(229, 57%, 11%);
    max-width: 1440px;
}
.background{
    position:fixed;
    bottom:0;
    right:0;
    width:100%;
}
.brand{
    position:fixed;
    top:50%;;
    left:30%;
    transform:translate(-60%,-90%);
    background-color:hsl(228, 56%, 26%);
    width:300px;
    height:160px;
    border-radius: 7px 90px 7px 7px;
    
}
.storage{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-25%,-85%);
    background-color:hsl(228, 56%, 26%);
    width:600px;
    height:120px;
    border-radius: 7px;
    color:#ffffff;
    font-size: 14px;
}
.storage::before{
    content:'';
    color:black;
    position:relative;
    left:60%;
    bottom:50px;
    display: block;
    height:80px;
    width:200px;
    background:#ffffff;
    border-radius:10px 10px 0 10px;
}
.storage::after{
    content:'';
    position:absolute;
    left:85.8%;
    bottom:75px;
    height:0px;
    width:0px;
    border-top: 45px solid #ffffff;
    border-left: 45px solid transparent;
}
.msg{
    position: relative;
    bottom: 90%;
    left:65%;
    color:rgba(0,0,0,1);
    z-index: 1;
}
.number{
    font-size: xx-large;
    font-weight:bold;
}
.msg .extension{
    position: relative;
    bottom:5px;
}
.logo{
    position:absolute;
    top:30px;
    left:30px;
}
.options{
    display:flex;
    position:absolute;
    top:90px;
    left:30px;
}
.icon{
    background-color: aquamarine;
    height:20px;
    background:hsl(228, 56%, 26%);
    margin:10px;
    
}
.used_storage{
    position:absolute;
    top:30px;
    left:30px;
}
.progress{
    position:absolute;
    top:50px;
    left:30px;
    width:90%;
    background:transparent;
    border:1px solid black;
}
.progress::-webkit-slider-runnable-track{
    border-radius:5px;
    background:none;
    background:linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.progress::-webkit-slider-thumb{
    
    background:#ffffff;
    background-color:#ffffff;
    color:#ffffff;
}
.min{
    position:absolute;
    top:70px;
    left:30px;
}
.max{
    position:absolute;
    top:70px;
    right:30px;
}
.attribution{
    position:fixed;
    bottom:0;
    width:100%;
}